<a href="https://colab.research.google.com/github/a-tayo/Hamoye-StageA-Spring-23/blob/main/Graded_Quiz_Tag_along_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
# load data
data_url="https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv"
food_data=pd.read_csv(data_url, encoding="latin-1")
food_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [5]:
# check for null values
food_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [13]:
# total wine produced in 2015 and 2018
food_data.groupby("Item", as_index=False)[["Y2015", "Y2018"]].sum().query("Item == 'Wine'")

     Item    Y2015    Y2018
117  Wine  4251.81  4039.32

In [14]:
# Number of unique countries
food_data.Area.nunique()

49

In [69]:
# Area with 7th lowest sum
food_data.groupby("Area", as_index=False)["Y2017"].sum().sort_values(by="Y2017").reset_index().iloc[6]

index               21
Area     Guinea-Bissau
Y2017         19102.77
Name: 6, dtype: object

In [47]:
# Year with highest sum of stock variation
food_data.groupby("Element", as_index=False)[["Y2014", "Y2015", "Y2016", "Y2017", "Y2018"]]\
          .sum()\
          .sort_values(by=["Y2014", "Y2015", "Y2016", "Y2017", "Y2018"], ascending=False).query("Element=='Stock Variation'")\
          .iloc[0][1:].sort_values(ascending=False)

Y2014    58749.83
Y2017    54316.91
Y2015    34910.99
Y2016    33140.12
Y2018    20577.91
Name: 15, dtype: object

In [59]:
#  total protein supply quantity in madagascar in 2015
food_data.groupby(["Area", "Element"], as_index=False)["Y2015"].sum()\
        .query("Area=='Madagascar' and Element=='Protein supply quantity (g/capita/day)'")

           Area                                 Element   Y2015
423  Madagascar  Protein supply quantity (g/capita/day)  173.05

In [62]:
# Area with highest sum in 2017
food_data.groupby("Area", as_index=False)["Y2017"].sum().sort_values(by="Y2017", ascending=False).reset_index().iloc[0]

index            34
Area        Nigeria
Y2017    1483268.23
Name: 0, dtype: object

In [65]:
print(f"Number of missing data in 2014: {food_data.Y2014.isnull().sum()}")
print(f"Percentage of missing data in 2014: {(food_data.Y2014.isnull().mean()*100).round(3)}")

Number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607

In [68]:
# Mean and standard deviation in 2017
food_data.describe().loc[["mean", "std"], "Y2017"].round(2)

mean     140.92
std     1671.86
Name: Y2017, dtype: float64